.container
  #contact.row
    .up-separator
      = image_tag("shadow_up.png")
    .content-container
      .col-md-12.wide-box
        %article
          %header
            %h1 Contact Us
            %h2 We currently offer grooming and styling for dogs up to 65 lbs.
          %dl.dl-horizontal
            %dt Email
            %dd appointments@austinpetstylist.com
            %dt Text or Call
            %dd (512) 200-4229
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2899.7440349384246!2d-97.78568776213152!3d30.197236401675042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865b4cac8d46ca9f%3A0xee3a7ab75840e260!2s500+W+William+Cannon+Dr%2C+Austin%2C+TX+78745!5e0!3m2!1sen!2sus!4v1442533338082", :style => "border:0", :width => "600" }
          %blockquote
            Austin Pet Stylist is located at 500 West William Cannon #414, at the corner of William Cannon and South 1st, between Taiwan Restaurant and Sherwin Williams
          %blockquote
            = "If you’d like to schedule an appointment or would like more information, you can reach us by email, text, or phone call. Please leave a detailed message about what kind of dog you have, preferred method of contact, and what services you are interested in."
      .up-separator.background
        = image_tag("shadow_up.png")