.container
  #contact.row
    .up-separator
      = image_tag("shadow_up.png")
    .content-container
      .col-md-12.wide-box
        %article
          %header
            %h1 Contact Jade
            %h2 I currently offer in-shop grooming in my home in South Austin for dogs up to 65 lbs.
          %dl.dl-horizontal
            %dt Email
            %dd jade@austinpetstylist.com
            %dt Text or Call
            %dd (512) 200-4229
          %blockquote
            = "If you’d like to schedule an appointment or would like more information, you can reach me by email, text, or phone call. Please leave a detailed message about what kind of dog you have, preferred method of contact, and what services you are interested in."
      .up-separator.background
        = image_tag("shadow_up.png")