.container
  #resources.row
    .up-separator
      = image_tag("shadow_up.png")
    .content-container
      .col-md-12.wide-box
        %article
          %header
            %h1 Resources & Referrals
          %ul
            %li
              %h2
                %a{:href => "http://pricklypearpetcare.com/"}
                  Prickly Pear Pet Care
              %p
                Prickly Pear Pet Care has been providing professional pet
                sitting, dog walking, and pet taxi services to beloved companions across Austin since 
                2011. They are fully insured, bonded, and certified in Pet First Aid and CPR. PPPC is 
                veterinarian recommended and a proud member of Austin Pet Sitters Organization and 
                Pet Sitter's International.
            %li
              %h2
                %a{:href => "http://www.adirephotography.com/"}
                  Adire Photography
              %p
                Gloria Segrest is a wonderful pet photographer that offer on-
                location photography with or without humans. She offers reasonably-priced outdoor 
                sessions, and gives back to the community for offering free sessions to shelter dogs.
            %li
              %h2
                %a{:href => "http://www.austinurbanvet.com/"}
                  Austin Urban Vet Center
              %p
                AUVC is comprised of an excellent team of caring
                professionals that have your pet’s best interest in mind. They have a beautiful facility in 
                the heart of downtown Austin at 5th and Rio Grande.
            %li
              %h2
                %a{:href => "http://www.southpawsplayschool.com/"}
                  Southpaws Playschool
              %p
                Sonya Wilson and her husband Tim offer a climate-controlled,
                free-range daycare in South Austin, as well as crate training, day training, obedience 
                and manners classes, behavioral counseling, health and nutrition information 
                and general canine problem solving. They have a true love for dogs and we love them!
            %li
              %h2
                %a{:href => "http://www.petfirstaidaustin.com/"}
                  Four Legged First Aid
              %p
                Soya Wilson from South paws Playschool offers Pet 1st Aid and CPR classes
                in South Austin. We recommend this for all pet professionals and owners. You never 
                know when you might be able to save a life!
            %li
              %h2
                %a{:href => "http://www.austinurbanvet.com/"}
                  Upper Paw Urban Pet Resort
              %p
                Upper Paws is a pet resort located within Austin Urban Vet Center. They
                offer boarding and playcare for both dogs and cats. Dogs have individual suites and 
                parents have webcam access to view their kids at any hour of the day.
            %li
              %h2
                %a{:href => "http://www.bluedogrescue.com/"}
                  Blue Dog Rescue
              %p.no-border
                Blue Dog Rescue is an all-volunteer, charitable organization that works to
                permanent, loving homes for homeless dogs in the Central Texas area, all the while 
                preparing them for the best possible relationship with you! We perform behavioral 
                screenings on endangered dogs at Central Texas animal shelters and bring them into 
                our foster family homes.
          = image_tag("resources-banner.jpg")
      .up-separator.background
        = image_tag("shadow_up.png")