%section#resources.row
  .up-separator
    = image_tag("shadow_up.png")
  %section#resources-content
    %section#resources-wrapper.corner-shadow
      %article
        %header
          %h1 Resources & Referrals
        %ul
          %li
            %a{:href => "http://pricklypearpetcare.com/"}
              Prickly Pear Pet Care
          %li
            %a{:href => "http://www.adirephotography.com/"}
              Adire Photography
          %li
            %a{:href => "http://www.austinurbanvet.com/"}
              Austin Urban Vet Center
          %li
            %a{:href => "http://www.southpawsplayschool.com/"}
              Southpaws Playschool
          %li
            %a{:href => "http://www.petfirstaidaustin.com/"}
              Four Legged First Aid
          %li
            %a{:href => "http://www.austinurbanvet.com/"}
              Upper Paw Urban Pet Resort
        = image_tag("resources-banner.png")
    .up-separator
      = image_tag("shadow_up.png")