.container
  #services.row
    .up-separator
      = image_tag("shadow_up.png")
    .content-container.services-main
      .col-md-12.wide-box
        %article
          %header
            %a{:id => 'grooming'}
            %h1 Grooming
          %ul
            %li
              %h2
                %span 30+
                Bath & Blow-out
              %p Great for in-between grooms or dogs that don't require any trimming. Nails and ears included!
            %li
              %h2
                %span 35+
                Mini Style
              %p Bath, blow-out, and brush plus a trim of the face, feet, and sanitary regions.
            %li
              %h2
                %span 50+
                Full Style
              %p Bath, blow-out, and brush plus a customized, all-over style!
            %li
              %h2
                Deshedding
              %p Automatically included with bath and styling services! Additional charges may apply for very heavy shedders.
          %blockquote
            %ul
              %li 
                We check anal glands with the above services. If full, we will gently try to express them. Glands that do not express with minimal pressure will be referred to a vet for expression.
              %li 
                Dematting will be done at an additional charge of $1 per minute. Not all dogs can be dematted. The pet's comfort and safety is a top priority.
              %li 
                Starting prices are for lightly coated small dogs. Price will vary based on size, coat condition, and temperament.
      .col-md-12.wide-box
        %article
          %header
            %a{:id => 'the-extras'}
            %h1 The Extras & Add-ons
          %ul
            %li
              %h2
                %span 15
                Mini Spa
              %p Mellow Pet shampoo, moisturizing conditioner, blueberry facial, with massage, Mellow Pet aromatherapy, and nail smoothing.   
            %li
              %h2
                %span 30
                Full Spa
              %p Mellow Pet shampoo, moisturizing conditioner, blueberry facial, with massage, Mellow Pet aromatherapy, nail smoothing, paw moisturizing cream, and a coconut oil sugar scrub.
            %li
              %h2
                %span 15+
                Coconut Oil Sugar Scrub
              %p Massage and sugar scrub to stimulate blood flow and promote healthy skin and coat.
            %li
              %h2
                %span 10+
                Creative Coloring
              %P Semi-permenant or temporary. Pricing based on amount of coloring used and area covered.
            %li
              %h2
                %span 7+
                Nail Painting
            %li
              %h2
                %span 15
                Nail Trim
            %li
              %h2
                %span 3
                Feather Extensions
            %li
              %h2
                %span 3
                Blueberry Facial
            %li
              %h2
                %span 5
                Toothbrusing
            %li
              %h2
                %span 1/min
                Dematting
      .col-md-12.wide-box#last
        %article
          %header
            %a{:id => 'other-services'}
            %h1 Other Services
          %ul
            %li
              %h2
                %span 60+
                One or Twice a Year Shavedown (extremely matted dogs)
            %li
              %h2
                %span 45/hour
                Puppy's First Style
              %p Puppes should be slowly introduced to grooming so they have a positive first experience. Your puppy will be bathed, towel-dried, and gently blow-dried. They will be introduced to our styling tools, and if tolerated, will get a light trim of the eyes, feet, and sanitary regions. Most puppies will be readyf or a full style by their second appointment.
            %li
              %h2
                %span 60/hour
                Special Needs Styling
              %p Sometimes dogs need some extra TLC to make them as comfortable as possible. This applies to dogs with behavioral issues, very nervous dogs, or major health issues requiring a second hand. Please note that on occasion a groom may need to be completed over two or more sessions for the safety and comfort of your loved one.
          = image_tag("resources-banner.jpg")
      .col-md-12.up-separator
        = image_tag("shadow_up.png")
      .clear