%section#vip-rewards.row
  .up-separator
    = image_tag("shadow_up.png")
  %section#vip-rewards-content
    %section.vip-rewards-wrapper.corner-shadow
      %article
        %header.col-sm-6
          %h1 
            %span VIP 
            Rewards
          %h2 Featuring 5% off your next appointment when you prebook before you leave and book no later than six weeks out
        %section
          %p You also get:
          %ul
            %li Priority holiday scheduling
            %li Priority weekend appointments
            %li
              %span Free
              blueberry facial
            %li
              %span Free
              toothbrushing for dogs on a two week schedule
        = image_tag("ollie-bentley-dressed.png")
    .up-separator
      = image_tag("shadow_up.png")