.container
  #vip-rewards.row
    .up-separator
      = image_tag("shadow_up.png")
    .content-container
      .col-md-12.wide-box
        %article
          %header
            %h1
              %span VIP 
              Rewards
            / %h2.col-xs-12.col-sm-12.col-md-8.col-lg-9 Featuring 5% off your next appointment when you prebook before you leave and book no later than six weeks out
            = image_tag("ollie-bentley-dressed.jpg", class: "hidden-xs hidden-sm")
          / %p.clear You also get:
          %ul.col-xs-12.col-sm-12.col-md-6.col-lg-7.clear
            %li Priority holiday scheduling
            %li Priority weekend appointments
            %li
              %span Free
              blueberry facial
            %li
              %span Free
              toothbrushing for dogs on a two week schedule
          .clear
      .up-separator.background
        = image_tag("shadow_up.png")