/ Header
  .aps-main-nav
    %button.navbar-toggle
    / Text only, for phones
    #header-title
    / Logo image for tablets and desktops
    #header-logo
    #nav.aps-navbar-collapse
      / Main navigation links
      #ul.nav.navbar-nav
      / Admin navigation
      #ul.navbar-right
    / Facebook and Twitter icons
    #social-media
    .down-separator
