%section#resources.row
  .up-separator
    = image_tag("shadow_up.png")
  %section#resources-content
    %section#resources-wrapper.corner-shadow
      %article
        %header
          %h1 Resources
        %blockquote
          = "If you’d like to schedule an appointment or would like more information, you can reach me by email, text, or phone call. Please leave a detailed message about what kind of dog you have, preferred method of contact, and what services you are interested in."
    .up-separator
      = image_tag("shadow_up.png")