%section#vip-rewards.row
  .up-separator
    = image_tag("shadow_up.png")
  %section#vip-rewards-content
    %section.vip-rewards-wrapper.corner-shadow
      %article
        %header
          %h1 VIP Rewards
          %h2 Featuring a 10% discount on all services
        %p
          Are you a planner? Do you want to make the most out of each visit? If you want to plan ahead and schedule your dog's visits six-months in advance, and want to guarantee priority appointments, then consider joining our VIP Rewards program.
        %p
          Doing so will put you first, over all non-VIP appointments, will include a blueberry facial with each visit at no charge, and you'll receive a 10% discount on all services every time!
        = image_tag("ollie-bentley-dressed.png")
    .up-separator
      = image_tag("shadow_up.png")