#about-us
  article
    img
      float: right
      position: relative
      top: -20px
      z-index: 100000
    img.profile
      position: absolute
      top: -10px
      right: -10px
      margin: 0px
      z-index: 5
  .content-container.special
    padding: 10px
  .special-format
    article
      padding: 0
      background-color: #f5f5f5
      text-align: center
      border: none
      header
        h1
          border-top: 5px ridge #c56182
          border-bottom: 5px groove #c56182
          padding: 10px 0 15px

@media (min-width: 768px)
  .container
    #about-us
      .up-separator
        width: 100%
        img
          width: 100%
      .wide-box
        width: 100%

@media (max-device-width: 568px)
  .container
    #about-us
      .up-separator
        width: 100%
        img
          width: 100%
      .wide-box
        width: 100%
        article
          img.profile
            display: none
          blockquote
            font-size: 12px
            padding: 0 15px
        .special-format
          padding: 0
          margin: 0
          article
            padding: 0
            margin: 0
            h1
              font-size: 16px

@media (max-width: 320px)
  .container
    #about-us
      width: 100%
      margin: 0 auto
      .up-separator
        width: 100%
        img
          width: 100%
      .wide-box
        margin-top: -5px
        width: 100%
        article
          img
            display: none
          h1
            margin-top: 0
          h2
            padding-bottom: 0
          blockquote
            font-size: 12px
            padding: 0 15px
        .special-format
          padding: 0
          margin: 0
          article
            padding: 0
            margin: 0
            h1
              font-size: 16px