.aps-main-nav
  margin-bottom: 0 !important
  background-color: #fff
  border-bottom: 0
  .container
    position: relative
    width: 980px
    .navbar-header
      float: none
      .navbar-toggle
        border-color: #fff
      .navbar-toggle
        .icon-bar
          background-color: grey
      #aps-logo-text
        display: none
      #header-logo
        margin: 20px auto
        width: 600px
        .aps-logo
          margin: 0
          padding: 0
          float: none
    .aps-navbar-collapse
      .nav
        margin: 20px auto 10px
        width: 779px
        float: none
        font-size: 24px
        li
          a
            font-family: "ThirstyRoughReg"
            color: #58585B
          a:hover
            background-color: #c56182
            color: #fff
            border-radius: 5px
    .navbar-left
      position: absolute
      top: 0
      left: 0
    #social-media
      position: absolute
      top: 20px
      right: -5px
      ul
        float: left
        li
          float: left
          margin-right: 20px
        li:hover
          margin: -10px 10px 0 0
          padding: 5px
          border: 5px solid #c56182
          border-radius: 30px
        li:last-child:hover
          margin-left: -10px
    .down-separator
      img
        width: 100%

@media (max-device-width: 1024px)
  .aps-main-nav
    .container
      width: 960px
      .navbar-header
        #header-logo
          margin: 15px auto
          width: 600px
      .aps-navbar-collapse
        .nav
          margin: 15px auto 5px
          width: 632px
          font-size: 18px

@media (max-device-width: 768px)
  .aps-main-nav
    .container
      width: 750px
      .navbar-header
        #header-logo
          margin: 10px auto
          width: 450px
          img
            width: 100%
      .aps-navbar-collapse
        .nav
          margin: 10px auto 5px
          width: 583px
          font-size: 16px
      .navbar-left
        left: 20px
        font-size: 14px
      #social-media
        top: 10px
        right: 55px
        ul
          li
            margin-right: 10px
            img
              width: 30px
              height: 30px
          li:hover
            border: none
            padding: 0
            margin-top: 0
          li:last-child:hover
            margin-left: 0

@media (max-device-width: 600px)
  .aps-main-nav
    .container
      width: 540px
      .navbar-header
        #aps-logo-text
          float: left
          font-family: "ThirstyRoughReg"
          font-size: 24px
          color: #3C80BF
          margin: 10px 0 5px 5px
        #aps-logo-text
          display: block
        #header-logo
          img
            display: none
      .aps-navbar-collapse
        .nav
          float: none
          clear: both
          margin: 0
          width: 100%
          li
            padding: 0
            a
              padding: 10px
              font-size: 14px
              font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
          li:hover
            a:hover
              background: none
              color: #3C80BF
      .navbar-left
        left: 215px
        li
          a
            font-size: 12px
      #social-media
        float: right
        ul
          float: left
      .down-separator
        display: none

@media (max-width: 320px)
  .aps-main-nav
    .container
      width: 300px
      .navbar-header
        #aps-logo-text
          float: left
          font-family: "ThirstyRoughReg"
          font-size: 16px
          color: #3C80BF
          margin: 15px 0 5px 0
        #aps-logo-text
          display: block
        #header-logo
          img
            display: none
      .aps-navbar-collapse
        .nav
          float: none
          clear: both
          margin: 0 0 20px -10px
          width: 100%
          li
            padding: 0
            width: 100%
            clear: both
            float: none
            a
              padding: 5px
              font-size: 14px
              font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
          li:hover
            a:hover
              background: none
              color: #3C80BF
      .navbar-left
        display: none
      #social-media
        float: right
        top: 5px
        ul
          float: left
          margin: 5px
      .down-separator
        display: none