.aps-main-nav
  margin-bottom: 0 !important
  border-bottom: 0
  .container
    position: relative
    .navbar-header
      float: none
      .navbar-toggle
        border-color: #fff
      .navbar-toggle
        .icon-bar
          background-color: grey
      #aps-logo-text
        display: none
      #header-logo
        margin: 20px auto
        width: 600px
        .aps-logo
          margin: 0
          padding: 0
          float: none
    .aps-navbar-collapse
      .nav
        margin-bottom: 10px
        float: none
        li
          float: none
    .navbar-left
      position: absolute
      top: 0
      left: 0
    #social-media
      position: absolute
      top: 20px
      right: 55px
      ul
        float: left
        li
          float: left
          margin-right: 20px
        li:hover
          margin: -10px 10px 0 0
          padding: 5px
          border: 5px solid #c56182
          border-radius: 30px
        li:last-child:hover
          margin-left: -10px
    .down-separator
      img
        width: 100%

@media (max-device-width: 568px)
  .aps-main-nav
    .container
      .navbar-header
        #aps-logo-text
          float: left
          font-family: "ThirstyRoughReg"
          font-size: 1.5em
          color: #3C80BF
          margin: 15px 0 5px 20px
        #aps-logo-text
          display: block
      #social-media
        right: 55px

@media (max-device-width: 600px)
  .aps-main-nav
    .container
      .navbar-header
        #aps-logo-text
          float: left
          font-family: "ThirstyRoughReg"
          font-size: 24px
          color: #3C80BF
          margin: 10px 0 5px 5px
        #aps-logo-text
          display: block
          margin-left: 20px
      .aps-navbar-collapse
        .nav
          float: none
          clear: both
          margin: 0
          width: 100%
          li
            padding: 0
            a
              padding: 10px
              font-size: 12px
              font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
          li:hover
            a:hover
              background: none
              color: #3C80BF
      #social-media
        float: right
        ul
          float: left
      .down-separator
        display: none

@media (max-device-width: 667px)
  .aps-main-nav
    .container
      .navbar-header
        .aps-logo-text
          margin-left: 15px
      #social-media
        right: 55px

@media (max-device-width: 768px)
  .aps-main-nav
    .container
      .navbar-header
        #aps-logo-text
          display: block
          float: left
          font-family: "ThirstyRoughReg"
          font-size: 1.5em
          color: #3C80BF
          margin: 10px 0 5px 15px
      .aps-navbar-collapse
        .nav
          li
            a
              font-size: 1em
      #social-media
        top: 10px
        right: 55px
        ul
          li
            margin-right: 10px
            img
              width: 30px
              height: 30px
          li:hover
            border: none
            padding: 0
            margin-top: 0
          li:last-child:hover
            margin-left: 0
      .down-separator
        display: none

@media (max-device-width: 1024px)
  .aps-main-nav
    .container
      .navbar-header
        #aps-logo-text
          display: none
        #header-logo
          margin: 15px auto
          width: 600px

@media (min-width: 1200px)
  .aps-main-nav
    .container
      .aps-navbar-collapse
        .nav
          font-size: 1.335em