.aps-main-nav
  margin: 0 !important
  padding: 0
  border-bottom: 1px solid #000
  .container
    .navbar-header
      .navbar-toggle
        background-color: #ddd
        border: 1px solid #ccc
        span
          background-color: #aaa
      #aps-logo-text
        display: block
        margin: 15px 0 0 15px
        float: left
    .aps-navbar-collapse
      .nav
        width: 100%
        margin: 0
        padding: 0
        li
          float: none
          a
            padding: 10px 0
    #social-media
      position: absolute
      top: 10px
      right: 70px
      ul
        float: right
        li
          float: right
          margin: 0 0 0 10px
          img
            width: 30px
    .down-separator
      display: none

@media (min-width: 568px)
  .aps-main-nav
    .container
      .navbar-header
        .aps-navbar-collapse
          .nav
            li
              float: left

@media (min-width: 768px)
  .aps-main-nav
    .container
      .navbar-header
        float: none
        #aps-logo-text
          display: none
        #header-logo
          width: 400px
          margin: 15px auto
          overflow: hidden
          .aps-logo
            margin: 0
            padding: 0
            float: none
            height: 100%
            img
              width: 400px
      .aps-navbar-collapse
        .nav
          margin: 0 auto 15px
          padding: 0
          width: 606px
          float: none
          li
            float: left
            a
              padding: 10px 15px
      .navbar-left
        position: absolute
        top: 0
        left: 0
      #social-media
        top: 15px
        right: 15px
        ul
          li
            margin-left: 15px
            img
              width: 100%
      .down-separator
        display: block
        img
          width: 100%

@media (min-width: 1024px)
  .aps-main-nav
    margin-bottom: 0 !important
    border-bottom: 0
    .container
      position: relative
      .navbar-header
        float: none
        #header-logo
          margin: 20px auto
          width: 600px
          .aps-logo
            margin: 0
            padding: 0
            float: none
            img
              width: 600px
      .aps-navbar-collapse
        .nav
          margin-bottom: 10px
          float: none
      #social-media
        position: absolute
        top: 15px
        right: 15px
        ul
          float: left
          li
            float: left
            margin-left: 20px
          li:hover
            margin: -10px -10px 0 -10px
            padding: 5px
            border: 5px solid #c56182
            border-radius: 30px
          li:last-child:hover
            margin: -10px -10px 0 10px
      .down-separator
        img
          width: 100%