#services
  .up-separator
    width: 960px
    margin: 0 auto
  #services-content
    width: 960px
    margin: 0 auto
    padding: 20px 10px 0px
    background-color: #f5f5f5
    .service-box
      margin: 0 15px
      float: left
      width: 30%
      article
        padding: 10px
        background-color: #fff
        position: relative
        z-index: 200
        h1
          margin-bottom: 30px
          text-align: center
          font-size: 30px
          font-family: "ThirstyRoughReg"
          color: #c56182
        p
          margin-bottom: 20px
        a.button-pill
          margin: 20px auto
          padding: 10px
          width: 140px
          display: block
          font-family: "ThirstyRoughReg"
          font-size: 24px
          color: #fff
          text-align: center
          background-color: #3c80bf
          border-radius: 10px

#reviews
  width: 960px
  margin: 0 auto
  padding: 20px 10px 0px 10px
  #testimonials
    width: 60%
    margin: 0 10px 0 20px
    float: left
    header
      h1
        margin-bottom: 30px
        font-family: "ThirstyRoughReg"
        font-size: 30px
        color: #c56182
      p.testimonial
        font-style: italic
    article
      margin-bottom: 20px
  #yelp
    width: 30%
    margin: 0 20px 0 0
    float: right
    header
      margin: 0px auto 20px
      width: 155px
      h1
        text-indent: -9999px
        background: image-url('yelp_logo.png') no-repeat
        display: block
        height: 72px
    article
      margin-bottom: 20px
      p.clearfix
        clear: both

@media (max-device-width: 1024px)
  .aps-main
    .container
      width: 960px
      #services
        .up-separator
          width: 100%
          img
            width: 100%
        #services-content
          width: 100%
          .service-box
            float: left
            width: 30%
            margin: 0px 15px 20px
            article
              float: none
              h1
                font-size: 24px
                margin-bottom: 0
              a
                font-size: 18px
                width: 120px
      #reviews
        margin: 0 -15px
        #testimonials
          width: 60%
          margin: 0 10px 0 20px
        #yelp
          width: 30%
          margin: 0 20px 0 0

@media (max-width: 768px)
  .aps-main
    .container
      width: 750px
      #services
        .up-separator
          width: 100%
          img
            width: 100%
        #services-content
          width: 100%
          .service-box
            margin: 0px 12px
            article
              float: none
              p
                font-size: 12px
      #reviews
        width: 750px
        margin: 0 -15px 0 -15px
        #testimonials
          width: 60%
          margin: 0 10px 0 20px
        #yelp
          width: 30%
          margin: 0 20px 0 0

@media (max-device-width: 600px)
  .aps-main
    .container
      width: 540px
      #services
        .up-separator
          width: 100%
          img
            width: 100%
        #services-content
          width: 100%
          .service-box
            width: 100%
            float: none
            margin: 0px auto 15px
            article
              h1
                font-size: 22px
              p
                font-size: 14px
                margin: 0 20px 0
              a
                font-size: 16px
                width: 100px
      #reviews
        width: 100%
        margin: 0 -15px 0 -15px
        padding: 20px 20px 0
        #testimonials
          width: 100%
          padding-bottom: 20px
          border-bottom: 1px solid grey
          h1
            font-size: 22px
            text-align: center
            margin: 0 0 15px 0
          article
            width: 100%
            p
              font-size: 15px

@media (max-device-width: 568px)
  .aps-main
    .container
      width: 540px
      #services
        .up-separator
          width: 100%
          img
            width: 100%
        #services-content
          width: 100%
          margin: 0 auto
          .service-box
            width: 100%
            margin: 0 auto 20px
            h1
              font-size: 30px
            p
              font-size: 16px
              line-height: 2em
            a
              font-size: 18px
              width: 120px
          .up-separator
            width: 100%
            img
              width: 100%
      #reviews
        width: 540px
        #testimonials
          width: 100%
        #yelp
          width: 100%

@media (max-width: 320px)
  .aps-main
    margin-bottom: 0
    padding-bottom: 0
    .container
      width: 320px
      #services
        .up-separator
          width: 100%
          img
            width: 100%
        #services-content
          margin-top: -5px
          width: 100%
          .service-box
            width: 100%
            float: none
            margin: 0px auto 15px
            article
              border: 1px solid #ddd
              h1
                font-size: 22px
              p
                font-size: 14px
                margin: 0 20px 0
              a
                font-size: 16px
                width: 100px
          #last-service
            margin-bottom: -5px
          .up-separator
            width: 100%
            img
              position: relative
              top: 5px
      #reviews
        width: 100%
        margin: -10px 0 0 0
        padding: 20px
        #testimonials
          width: 100%
          padding-bottom: 20px
          margin: 0
          border-bottom: 1px solid grey
          h1
            font-size: 22px
            text-align: center
            margin: 0 0 15px 0
          article
            width: 100%
            p
              width: 100%
              font-size: 15px
        #yelp
          width: 100%
          padding-bottom: 0
          border-bottom: none
          margin: 0