#resources
  .resources-wrapper
    margin-bottom: 20px
  article
    ul
      li
        p.no-border
          border-bottom: none
    img
      width: 100%
      position: relative
      bottom: 0
      left: 0