#resources
  ul
    li
      margin: 0px
      p
        padding-bottom: 20px
        margin-bottom: 20px
        border-bottom: 1px dotted #c56182
      p.no-border
        border-bottom: none
  img
    width: 100%
    position: relative
    bottom: 0
    left: 0