#services-content
  padding-bottom: 30px
  article
    padding: 20px 10px 30px
    background-color: #fff
    position: relative
    overflow: hidden
    h1
      font-size: 30px
      color: #3c80bf
      font-family: "ThirstyRoughReg"
      padding-bottom: 20px
    ul
      width: 63%
      li
        font-family: "Solano Gothic MVB Medium"
        font-size: 24px
        color: #3c80bf
        p
          font-family: "Verdana", sans-serif
          color: #000
          font-size: 16px
          padding-bottom: 20px    
        
.wide-service-box
  margin-bottom: 30px
  article
    height: 400px

.left-align
  img
    position: absolute
    top: 0
    right: 0

.right-align
  h1
    float: right
  ul
    float: right
    clear: both
    text-align: right
  img
    position: absolute
    top: 0
    left: 0
