.services-main
  article
    overflow: hidden
    ul
      li
        p
        span
          float: right
    blockquote
      border-left: 5px solid #c56182
    img
      margin: 0
      width: 100%

@media (min-width: 1200px)
  #services-container
    padding-bottom: 20px
    #services
      .services-main
        margin-bottom: 0
        article
          img
            width: 110%

@media (min-width: 992px)
  #services-container
    margin: 0 auto
    padding: 10px
    #services
      .services-main
        margin-bottom: 0
        article
          img
            width: 110%

@media (min-width: 768px)
  #services-container
    margin: 0 auto
    padding: 10px
    #services
      .services-main
        margin-bottom: 0
        article
          img
            width: 110%