#slider-wrap
  border: 1px solid #5d5e60
  background: image-url('slider_wrapper_bg.png'), no-repeat
  padding-bottom: 0
  .container
    #slider-wrapper
      width: 100%
      margin: 0 auto
      section.carousel
        width: 100%
        margin: 0px auto
      #slider
        width: 100%
        margin: 20px auto
        background-color: #fff
        box-shadow: 0px 0px 15px 0px #000
        border: 5px solid #fff
        img
          width: 100%

@media (max-device-width: 1024px)
  #slider-wrap
    margin-bottom: 0px
    .container
      width: 100%
      .aps-main-slider
        #slider-wrapper
          width: 100%
          margin: 0
          #carousel-example-generic
            width: 100%
            #slider
              width: 100%
              img
                width: 100%

@media (max-width: 768px)
  #slider-wrap
    margin-bottom: 0px
    .container
      width: 100%
      .aps-main-slider
        #slider-wrapper
          width: 100%
          margin: 0
          #carousel-example-generic
            width: 100%
            #slider
              width: 100%
              h1
                font-size: 36px
                text-shadow: 0 0 1px #000
              h2
                font-size: 32px
                text-shadow: 0 0 1px #000
              h1.huge
                letter-spacing: 0px
              img
                width: 100%

@media (max-device-width: 600px)
  #slider-wrap
    .container
      width: 100%
      .aps-main-slider
        #slider-wrapper
          width: 100%
          margin: 0
          #carousel-example-generic
            width: 100%
            #slider
              width: 100%

@media (max-device-width: 568px)
  #slider-wrap
    .container
      width: 100%
      .aps-main-slider
        #slider-wrapper
          width: 100%
          margin: 0
          #carousel-example-generic
            width: 100%
            #slider
              width: 100%
              h1
                font-size: 18px
                text-shadow: 0 0 1px #000
              h2
                font-size: 16px
                text-shadow: 0 0 1px #000
              h1.huge
                letter-spacing: 0px

@media (max-width: 320px)
  #slider-wrap
    border-left: none
    border-right: none
    margin-bottom: 0
    .container
      width: 100%
      margin: 5px auto
      padding: 0
      .aps-main-slider
        #slider-wrapper
          width: 100%
          margin: 0
          #carousel-example-generic
            width: 100%
            #slider
              width: 100%
              margin: 5px 0
              h1
                font-size: 14px
                text-shadow: 0px 0px 1px #000
                margin: 0 auto 5px
              h2
                font-size: 12px
                text-shadow: 0px 0px 1px #000
                margin: 0 auto 5px
              h1.huge
                letter-spacing: 0px
                margin-top: 5px
              img
                width: 100%